@charset "UTF-8";

/* Fontes exportadas do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Geist:ital,wght@0,100..900;1,100..900&family=Gochi+Hand&display=swap');

/* Declaração das variáveis (tokens, uhul!) */
:root {
    --color-accent: #943A1C;
    --color-interaction: #531804;
    --color-neutral: #F2EBE3;
    --color-text: #1b0f01;
    --color-focus: #08640b;
    --color-on-accent: var(--color-neutral);
}

body {
    background-color: var(--color-neutral);
    max-width: 600px;
    margin: auto;
    padding: 64px;
}

p {
    font-family: Geist, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: var(--color-text);
}

main {
    text-align: left;
}

footer {
    margin-top: 64px;
    color: #7d7770;
    border-radius: 4px;
}

footer > p {
    font-size: 14px;
    margin: 0px;
}

a {
    font-family: Geist, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-accent);
    border: 2px solid;
    border-radius: 24px;
    padding-inline: 16px;
    padding-block: 12px;
    margin-right: 8px;
    margin-top: 8px;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
}

a:focus-visible {
    outline: 3px dashed var(--color-focus);
    outline-offset: 2px;
    
}

a:active {
    color: hsl(15, 68%, 15%);
}

a:hover {
    color: hsl(15, 68%, 25%);
}

a:visited {
    color: hsl(15, 68%, 15%);
}

.title {
    font-family: Bricolage Grotesque, Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: var(--color-accent);
}

#profile-img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 2px solid;
    border-color: #943a1c8f;
}